body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
  text-align: center;
}
header{
  width: 100%;
  position: fixed;
  height: 69px;
  align-items: center;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header img{
  height: 50px;
  padding-left: 10px;
}
#nav{
  text-align: right;
  text-decoration: underline;
  flex-grow: 1;
  }
a{
  text-decoration: underline;
  color: seashell;
}
#nav span{
  display: inline-block;
  padding-right: 15px;

}

<!-- Mission -->
.main{

}
.content{
  display: inline-block;
  position: relative;
}
.mission{
  align-content: center;
  justify-content: center;
  display: block;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  }
.mission .content{
  width: 1200px;
  background-color: black;
  display: block;
}

<!-- Tea -->
.flex-container{

}
.content{

}
.tealist{

}
.tealist span{
  display: inline-block;
}
.tea .content{
  width: 1000px;
}
.tealist img{
  width: 300px;
  height: 200px;
}
